/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~material-design-icons/iconfont/material-icons.css';

.material-icons.is-15 { font-size: 15px; }
.material-icons.is-16 { font-size: 16px; }
.material-icons.is-18 { font-size: 18px; }
.material-icons.is-24 { font-size: 24px; }
.material-icons.is-36 { font-size: 36px; }
.material-icons.is-48 { font-size: 48px; }
